@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$almost__white: hsl(0, 0%, 98%);
$medium__gray: hsl(0, 0%, 41%);
$almost__black: hsl(0, 0%, 8%);

html,
body {
    font-family: "Epilogue";
    background: $almost__white;
}

.container {
    max-width: 1200px;
    padding: 5%;
}

.header {
    display: flex;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $medium__gray;
    margin: 0 5%;
}

.navbar {
    display: flex;
    font-size: 14px;

    .main__navigation {
        display: flex;
        list-style: none;
        justify-content: space-between;

        li {
            margin: 0;
        }
    }

}

// .dropdown__menu--features {
//     width: 150px;
//     list-style: none;
//     background: white;
//     padding: 10% 0;
//     border-radius: 15px;
//     position: relative;
//     z-index: 12;
//     left: 0;
//     top: 10%;
//     box-shadow: 3px 3px 3px 3px #000000;
// }

.feature__menu {
    display: relative;
    border: .1em solid #ccc;

    a:hover {
        cursor: pointer;
    }
}

.features__dropdown--menu {
    border-radius: 10px;
    // padding: 5%;
    width: 150px;
    position: absolute;

    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.features__menu--item {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.item__text--container {
    border: .1em solid #ccc;
    width: 80px;
    text-align: left;
    margin: 0;
}

// .dropdown__menu--company {
//     @extend .dropdown__menu--features;
//     width: 150px;
//     left: 0;
//     // padding: 10% 20%;
// }

.features__menu--item {
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
    position: relative;
    width: 100%;

    .features__menu__--iconcontainer {
        width: 15px;
        height: 15px;
        left: 0%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .features__menu--text {
        // position: absolute;
        // left: 25%;
        // margin-left: 5%;
        border: .1em solid $medium__gray;
        // text-align: left;
        width: 60%;
    }



}


.navigation__actions--container {
    color: $medium__gray;
    width: 50%;

    display: flex;
    justify-content: end;

    .login__action--button {
        border: none;
        background: none;
        margin: 0 10%;
    }

    .signup__action--button {
        border: .1em solid $medium__gray;
        background: none;
        padding: 1% 5%;
        border-radius: 15px;
        font-size: .8em;
        height: 60%;
    }
}

.intro__section--container {
    display: flex;
    height: 80vh;
    padding: 0 5%;


    .intro__section--presentationtext,
    .intro__section--heroimage {
        width: 50%;
        height: 100%;
    }

    .intro__section--presentationtext {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        margin: 0 10% 0 0;
        padding: 10% 0 0;

        h1 {
            font-size: 3.6em;
            font-weight: 700;
        }

        p {
            color: hsl(0, 0%, 41%);
        }

        .learn__more__action--button {
            background: hsl(0, 0%, 8%);
            color: hsl(0, 0%, 98%);
            border: none;
            width: fit-content;
            padding: 4% 10%;
            font-size: 1.2em;
            border-radius: 15px;

        }

        .client__list--container {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .client {
                margin: 0 5%;

            }

            .client--first {
                margin: 0 5% 0 0;
            }
        }
    }



    .intro__section--heroimage {


        img {
            width: 100%;
            height: 100%;
        }
    }
}