@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Epilogue";
  background: hsl(0deg, 0%, 98%);
}

.container {
  max-width: 1200px;
  padding: 5%;
}

.header {
  display: flex;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: hsl(0deg, 0%, 41%);
  margin: 0 5%;
}

.navbar {
  display: flex;
  font-size: 14px;
}
.navbar .main__navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.navbar .main__navigation li {
  margin: 0;
}

.dropdown__menu--features, .dropdown__menu--company {
  width: 150px;
  list-style: none;
  background: white;
  padding: 10% 0;
  border-radius: 15px;
  position: relative;
  z-index: 12;
  left: 0;
  top: 10%;
  box-shadow: 3px 3px 3px 3px #000000;
}

.dropdown__menu--company {
  width: 150px;
  left: 0;
}

.features__menu--item {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 10%;
  position: relative;
  width: 100%;
}
.features__menu--item .features__menu__--iconcontainer {
  width: 15px;
  height: 15px;
  left: 0%;
}
.features__menu--item .features__menu__--iconcontainer img {
  width: 100%;
  height: 100%;
}
.features__menu--item .features__menu--text {
  border: 0.1em solid hsl(0deg, 0%, 41%);
  width: 60%;
}

.navigation__actions--container {
  color: hsl(0deg, 0%, 41%);
  width: 50%;
  display: flex;
  justify-content: end;
}
.navigation__actions--container .login__action--button {
  border: none;
  background: none;
  margin: 0 10%;
}
.navigation__actions--container .signup__action--button {
  border: 0.1em solid hsl(0deg, 0%, 41%);
  background: none;
  padding: 1% 5%;
  border-radius: 15px;
  font-size: 0.8em;
  height: 60%;
}

.intro__section--container {
  display: flex;
  height: 80vh;
  padding: 0 5%;
}
.intro__section--container .intro__section--presentationtext,
.intro__section--container .intro__section--heroimage {
  width: 50%;
  height: 100%;
}
.intro__section--container .intro__section--presentationtext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0 10% 0 0;
  padding: 10% 0 0;
}
.intro__section--container .intro__section--presentationtext h1 {
  font-size: 3.6em;
  font-weight: 700;
}
.intro__section--container .intro__section--presentationtext p {
  color: hsl(0deg, 0%, 41%);
}
.intro__section--container .intro__section--presentationtext .learn__more__action--button {
  background: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  border: none;
  width: fit-content;
  padding: 4% 10%;
  font-size: 1.2em;
  border-radius: 15px;
}
.intro__section--container .intro__section--presentationtext .client__list--container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.intro__section--container .intro__section--presentationtext .client__list--container .client {
  margin: 0 5%;
}
.intro__section--container .intro__section--presentationtext .client__list--container .client--first {
  margin: 0 5% 0 0;
}
.intro__section--container .intro__section--heroimage img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
